.container {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.users {
  width: 12vw;
}
.user-section {
  display: flex;
  justify-content: space-between;
}
.main {
  display: flex;
  justify-content: space-between;
}
.user-name {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 12px;
}
.count-user-ticket {
  margin-top: 5px;
  margin-left: 5px;
}

.users-card {
  margin-top: 15px;
}
.menu-add-1 {
  margin-top: 5px;
  display: flex;
}

@media only screen and (max-width: 699px) {
  .users {
    width: 100%;
  }
  .user-name {
    font-size: large;
    margin-left: 10px;
  }
  .count-user-ticket {
    margin-left: 10px;
  }
  .user-section {
    margin-bottom: 10px;
  }
  .users-card {
    margin-bottom: 20px;
  }
}
