.container {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.no-comp {
  display: flex;
  width: 15vw;
  justify-content: space-between;
}
.urgent {
  display: flex;
  width: 15vw;
  justify-content: space-between;
}
.high {
  display: flex;
  width: 15vw;
  justify-content: space-between;
}

.medium {
  display: flex;
  width: 15vw;
  justify-content: space-between;
}
.low {
  display: flex;
  width: 15vw;
  justify-content: space-between;
}
.icon-type-count {
  display: flex;
}
.menu-add {
  color: #71757b;
  display: flex;
}
.icon {
  color: #71757b;
  margin-top: 2px;
}
.title-comp {
  margin-left: 10px;
}
.count {
  color: #71757b;
  margin-left: 10px;
}
.menu {
  margin-left: 10px;
  margin-top: 2px;
}
.cards {
  margin-top: 15px;
  width: 15vw;
}
.urgent .icon-type-count .icon {
  color: #f1ca4b;
  font-weight: 700;
}

@media only screen and (max-width: 699px) {
  .container {
    flex-direction: column;
    font-size: large;
    margin-right: 10%;
  }
  .no-comp {
    width: 100%;
    margin-bottom: 10px;
  }
  .high {
    width: 100%;
    margin-bottom: 10px;
  }
  .low {
    width: 100%;
    margin-bottom: 10px;
  }
  .medium {
    width: 100%;
    margin-bottom: 10px;
  }
  .urgent {
    width: 100%;
    margin-bottom: 10px;
  }
  .cards {
    width: 100%;
    margin-bottom: 20px;
  }
}
