.status-dot {
  width: 10px;
  border: 2px solid white;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  right: -13px;
  top: 13px;
}

.active {
  background-color: #4caf50;
}

.non-active {
  background-color: #ccc;
}

.user-pic {
  position: relative;
}
