.App {
  background-color: rgba(244, 245, 248, 255);
  width: 100%;
}
.nav-bar {
  padding-left: 5%;
  height: 60px;
  background-color: white;
}
.dropbtn {
  margin-top: 10px;
  color: black;
  padding: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  height: 35px;
  padding: 10px;
  background-color: white;
  border: 0.5px solid rgb(170, 167, 167);
  border-radius: 7px;
  display: flex;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f9fb;
  color: grey;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 100px;
}
.dropdown-content div {
  color: grey;
  justify-content: space-between;
  display: flex;
  padding: 15px 15px;
  text-decoration: none;
  display: block;
}
.show {
  display: block;
}

.menu-icon {
  padding: 0.7px;
  margin-right: 10px;
}
.down-arrow {
  margin-left: 20px;
  margin-bottom: 5px;
}
.select {
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 0.5vw;
  box-shadow: 0 1px 4px 0 hsla(240, 5%, 41%, 0.2);
  font-size: 1vw;
  margin: 0.1vw 0;
  padding: 0.3vw;
  position: absolute;
  right: 5px;
}
.group {
  margin-top: 10px;
}
.order {
  margin-top: 5px;
}
.components {
  margin-top: 25px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media only screen and (max-width: 699px) {
  .dropbtn {
    font-size: large;
  }
  .select {
    font-size: small;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
